.invoice-description__small {
  display: flex;
  & .el-form-item {
    flex: 1;
  }
  & .el-input {
    width: 100%;
    max-width: 600px;
  }
}
.invoice-description__company {
  background: #f5f7fa;
  padding: 0 8px;
  border: 1px solid #dcdfe6;
  border-radius: 4px;
}
.invoice-description__vat-warning {
  color: #606266;
  font-weight: bold;
}
